<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="commons/header :: header" >

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../../static/css/bootstrap.css" />
  <script th:src="@{/js/bootstrap.js}" src="../../static/js/bootstrap.js"></script>
  <script th:src="@{/js/jquery-3.6.1.min.js}" src="../../static/js/jquery-3.6.1.min.js"></script>
  <title>clienets@</title>
</head>

<body>
  <div th:replace="commons/menu :: menu" />

  <div class="container">
    <main>
  
      <div class="row g-5">
        
        <div class="col-8">
          <h4 class="mb-3" th:text="#{producto.edicion.titulo}">Datos Producto</h4>
          <form class="needs-validation"  method="post" th:action="@{/productos/update}"  novalidate>
            <input type="hidden" name="codigo" th:value="${producto.codigo}">

            <div class="row g-4">
              <div class="col-sm-6">
                <label for="nombre" class="form-label" th:text="#{producto.nombre}">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="" th:value="${producto.nombre}" value="" required>
                <div class="invalid-feedback">
                  Nombre requerido.
                </div>
              </div>
  
              <div class="col-sm-6">
                <label for="lastName" class="form-label"  th:text="#{producto.descripcion}">Descripcion</label>
                <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="" th:value="${producto.descripcion}" value="" required>
                <div class="invalid-feedback">
                  Apellidos requeridos.
                </div>
              </div>

              <div class="col-sm-6">
                <label for="dni" class="form-label"  th:text="#{producto.precio}">Precio</label>
                <input type="text" class="form-control" id="precio" name="precio" placeholder="" th:value="${producto.precio}" value="" required>
                <div class="invalid-feedback">
                  Dni requerido.
                </div>
              </div>

            </div>
  
            <hr class="my-4">
  
            <div class="col-sm-12">
              <div class="btn-group">
                <a class="btn btn-primary" th:href="@{/productos/list}" href="#" role="button" th:text="#{boton.cancelar}">Cancelar</a>
                <button class="btn btn-primary" type="submit" th:text="#{boton.actualizar}">Actualizar</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </main>

  </div>
  
  <div th:replace="commons/footer :: footer" class="container"></div>

</body>
</html>